<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block subject %}Test email{% endblock %}</title>
</head>
{% block html_body %}
<body style="background-color:black; color:white;font-family:SansSerif">
<h1>This is a test template E-mail</h1>
<pre>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Fusce euismod curae dictumst tincidunt rhoncus facilisi. Est hendrerit vestibulum pharetra tellus et condimentum? Volutpat sociosqu feugiat netus malesuada habitasse semper rhoncus. Integer sociosqu dis consectetur tempus posuere penatibus? Id nulla nullam, tincidunt maximus diam a platea. Habitant diam in adipiscing senectus; arcu platea. Dignissim egestas ultrices tristique urna nec nam suspendisse urna. Fermentum arcu hac elementum bibendum platea proin.

Dignissim elit neque mollis laoreet scelerisque. Lobortis lectus placerat magnis mollis condimentum lobortis. Nisi turpis tristique elit fusce mattis massa. Pretium libero congue ut enim id montes bibendum. Hendrerit convallis purus nascetur mollis fringilla eu? Metus diam montes tempor, erat adipiscing dapibus semper. Mollis adipiscing integer lacus torquent donec bibendum laoreet.

Ante fames phasellus magnis odio, malesuada netus elementum vulputate parturient. Sollicitudin convallis risus viverra taciti mus urna molestie. Auctor lacinia id laoreet facilisis; hendrerit malesuada pulvinar rutrum. Auctor dolor porta molestie sociosqu auctor dignissim torquent tortor consequat. Hac scelerisque eros maecenas potenti phasellus fringilla pellentesque. Tempor elementum curabitur maximus diam in. Ullamcorper odio augue etiam quisque, eu fames sagittis.

Integer interdum porttitor ipsum risus, purus senectus odio sem. Interdum platea augue ut amet netus lectus. Imperdiet nibh ligula egestas ligula curabitur tortor sociosqu. Vivamus morbi quis eleifend, fames in cubilia ad. Non curabitur litora eu egestas nec. Taciti ad natoque egestas senectus urna non sed?

Suspendisse tortor sed turpis vehicula sem fames viverra. Egestas enim arcu eros purus finibus natoque senectus cras. Tristique platea ridiculus inceptos massa aliquam orci semper condimentum. Volutpat rutrum habitasse; maecenas libero dictum enim. Mauris ac massa dictum gravida habitant magna orci dictum maximus. Turpis dapibus mollis interdum metus mi. Rhoncus curabitur urna non adipiscing phasellus efficitur sollicitudin sociosqu sed. Et pulvinar eros conubia lorem; nisl massa fames. Ornare neque taciti ipsum congue molestie parturient tincidunt.

Ultricies nascetur nisl hac et habitant turpis platea parturient. Ridiculus ad suspendisse lacinia in ac rhoncus purus. Aliquam egestas commodo risus lacinia nulla. Maximus natoque dapibus finibus, dolor neque libero? Facilisis condimentum venenatis tempus tempus luctus aliquam metus. Porta et a rhoncus elementum luctus sed. Tellus pulvinar himenaeos porta class aenean bibendum nunc fermentum.

Magna primis nunc, class ridiculus pharetra id dictumst. Himenaeos nisl mattis magna porta; ultrices arcu pellentesque. Mattis tortor urna maximus congue nullam lacus, libero netus orci. Habitant semper elit efficitur venenatis mauris. Dictum odio a maximus at pharetra montes est ipsum pretium. Luctus dis sodales porta sed; nisi tincidunt erat. Turpis auctor faucibus quisque auctor netus ligula egestas.

Praesent varius suspendisse; erat sem dictum quam. Dui iaculis dui rutrum curabitur tortor gravida aptent justo montes. Facilisis class nam ante convallis senectus vestibulum sodales. Curae ultrices habitasse scelerisque facilisis pretium platea at metus taciti? Himenaeos per iaculis quisque nibh est facilisis accumsan! Pellentesque inceptos sapien donec, sem convallis porttitor donec pulvinar dis. Mollis facilisi orci gravida praesent id nibh cursus habitant.

</pre>
</body>
{% endblock %}
</html>